.logo img{
	width: 200px;
	height: auto;
	margin-top: -15px;
}

.navbar{
	background-color: #FFF;
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #B62E20;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

/*Make the dropdown appear on hover*/
.dropdown:hover .dropdown-menu{
	display: block;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

.navbar, .navbar .container,.navbar-header, .navbar-brand, nav .navbar-nav{
	min-height: 52px;

}

nav .navbar-nav, .navbar-header{
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .navbar-default .navbar-nav > li > a{
 	color: #474747;
 }

 .dropdown-menu > li > a{
 	padding: 15px 20px;
 	font-weight: 600;
 }

 .dropdown-menu ul li a{
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

 #section-title{
 	position: relative;
    width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 25px;
	color: #FFF;
	background-repeat: repeat;
	background-image: url(../../img/escheresque_ste.png);
	background-color: #2D2D2D;
 }

#section-title h2{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-left: 20px;
}

#details{
	padding: 220px 0 220px 0;
}

.head-img{
	width: 70px;
	margin-top: -20px;
	display: inline-block;
}


footer{
	background-color: #2D2D2D;
	height: 200px;
	padding:50px 0 50px 0;
}
#wrap{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

footer img{
	width: 200px;

}

footer p{
	color: #F3F3F3;
}

 @media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (min-width:0) and (max-width:768px){
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 



 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 



 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 



 }