.logo img{
	width: 200px;
	height: auto;
	margin-top: -15px;
}

.navbar{
	background-color: #FFF;
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #B62E20;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

/*Make the dropdown appear on hover*/
.dropdown:hover .dropdown-menu{
	display: block;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

.navbar, .navbar .container,.navbar-header, .navbar-brand, nav .navbar-nav{
	min-height: 52px;

}

nav .navbar-nav, .navbar-header{
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .navbar-default .navbar-nav > li > a{
 	color: #474747;
 }

 .dropdown-menu > li > a{
 	padding: 15px 20px;
 	font-weight: 600;
 }

 .dropdown-menu ul li a{
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

 #section-title{
 	
    width: 100%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #BD4343;
	/*background-repeat: repeat;
	background-image: url(../../img/escheresque_ste.png);*/
	background-color: #FFF;
	margin-bottom: 30px;
 }

#section-title h2{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

#details{
	background-color: #FFF;
	background-image: url("../../img/symphony2.png");
	padding: 20px 0 20px 0;
}

.details-wrapper{
	background-color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.details-desc{
	padding-right: 35px;
	background-color: #FFF;
}

.details-desc h3{
	display: inline-block;
	padding-top:20px;
	padding-left: 0px;
	padding-bottom: 20px;
	font-size: 2em;
}

.details-desc p{
	font-size: 1.2em;
}

.head-img{
	width: 50px;
	display: inline-block;
}


#wrap{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

#price{
	border:solid 1.5px #C0C0C0;
	border-radius: 2px;
	background-color: #FFF;
	padding-left: 0;
	padding-right: 0;
}

#price h3{
	background-color: #2D2D2D;
	color: #FFF;
	padding: 20px;
	text-align: center;
	margin-top: 0;
	display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#price ul{
	padding-left: 0;
}

#price ul li{
	background-color: #FFF;
	/*border-top:solid 1px #D5D5D5;*/
	margin: 0 auto;
	color: #646464;
	list-style: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-top: 0px;
	height: 24px;
	padding-left: 32px;
	padding-right:32px;
	padding-bottom: 0px;
	margin-bottom: 30px;
	font-size: 1.25em;
}

#price ul li i{
	display: inline-block;
	color: #4FAB73;
}

#price ul li h4{
	font-weight: 600;
	margin-left: 10px;
	display: inline-block;
}

#features span{
	display: inline-block;
	position: absolute;
	padding-left: 20px;
	padding-right: 30px;
}

#price .double-line{
	height: 50px;
}


/*#price ul li:last-child{
	border-bottom:solid 1px #D5D5D5;
}*/

/*#price li:nth-child(2n) {
	background: #FFF;
}*/

#price a{
	background-color: #3F3F3F;
	border-radius: 2px;
	color: #FFF;
	display: table;
	margin: 35px auto;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
	-webkit-box-shadow: 0px 4px 0px #2A2A2A;
    -moz-box-shadow:0px 4px 0px #2A2A2A;
    box-shadow: 0px 4px 0px #2A2A2A;
}

#price a:hover{
	background-color: #469666;
}

.money{
	/*border-radius: 50%;
	border:solid 2px #C0C0C0;
	background-color: #FFF;*/
	color: #2D2D2D;
	padding-top:20px;
	padding-bottom: 5px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	text-align: center; 
	margin: 0 auto;
}

.money p{
	font-size: 0.4em !important;
}

.money .super{
	font-size: 0.3em;
	position: relative;
	top: -38px;
}

.money .sub{
	font-size: 0.2em;
	letter-spacing: 2px;
}

.money .iva{
	font-size: 0.3em;
	display: inherit;
	line-height: 8px;
	position: relative;
	top: -15px;
}

/*.grayscale{
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition:0.5s;
}

.grayscale:hover{
	-moz-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}*/




 @media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (min-width:0) and (max-width:768px){
	
	.details-desc{
		padding-right: 15px;
	}

	#price{
		margin-top: 50px;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 


 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 



 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 



 }