body{
  /*Fix nav overlay with padding*/
  padding-top: 70px; 
}

.logo img{
width: 200px;
height: auto;
margin-top: -15px;
}
.navbar{
background-color: #FFF;
margin-bottom: 0;
font-family: 'Raleway', sans-serif;
font-weight: 600;
text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a{
font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover{
color: #B62E20;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
background-color: #FFF;
color: #B62E20;
}
/*Make the dropdown appear on hover*/
.dropdown:hover .dropdown-menu{
display: block;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
background-color: #FFF;
color: #B62E20;
}
.navbar, .navbar .container,.navbar-header, .navbar-brand, nav .navbar-nav{
min-height: 52px;
}
nav .navbar-nav, .navbar-header{
margin-top: 10px;
margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > a{
color: #474747;
}
.dropdown-menu > li > a{
padding: 15px 20px;
font-weight: 600;
}
.dropdown-menu ul li a{
margin-top: 5px;
margin-bottom: 5px;
}

.carousel-inner{
	height: 100%;
}

.carousel-caption h1{
font-size: 2.8em;
font-family: 'Raleway' ;
}
.carousel-control.right, .carousel-control.left{
background-image:none;
opacity: 0.3;
}

.carousel-control.right:hover, .carousel-control.left:hover{
opacity: 0.6;
}

.carousel-caption a{
/*border: solid 1px #FFF;*/
background-color: #FFF;
border-radius: 4px;
color: #474747;
display: inline-table;
font-size: 1.18em;
font-family: 'Hind', sans-serif;
text-decoration: none;
padding: 18px 20px;
margin-top: 30px;
text-shadow:none;
transition:5s;
}



.arrow-down {
  color: #F0F0F0;
  position: absolute;
  bottom: 30px;
  left: 75%;
  z-index: 15;
  width: 10%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  font-size: 2.4em;
  -webkit-animation: down 2s infinite;
  -moz-animation: down 2s infinite;
  animation: down 2s infinite;
}

.arrow-down:hover{
	color: #F0F0F0;
}

@-webkit-keyframes down {
     0%   {transform: translateY(0px);}
    50%  {transform: translateY(15px);}
    100%   {transform: translateY(0px);}
}

@keyframes down {
     0%   {transform: translateY(0px);}
    50%  {transform: translateY(15px);}
    100%   {transform: translateY(0px);}
}

.carousel-caption a:hover{
background-color: #F0F0F0;
}
.message{
width: 100%;
height: auto;
background-repeat:no-repeat;
background-image: url(img/principal/s1.png);
background-size: cover;
background-attachment: fixed;
background-position: center;
padding-top: 100px;
padding-bottom: 100px;
}
.intro{
text-align: center;
}
.intro h1{
color: #FFF;
font-family: 'Hind', sans-serif;
}
.intro a{
background-color: transparent;
border-radius: 4px;
color: #FFF;
font-size: 1.1em;
padding: 20px;
font-family: 'Raleway', sans-serif;
display: inline-block;
border:solid 1px #FFF;
margin-top: 30px;
text-decoration: none;
}
.intro a:hover{
background-color: #FFF;
color: #b62e20;
}
/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display:         flex;
}
#services{
background-color: #F0F0F0;
background-image: url(img/symphony2.png);
padding-top: 60px;
padding-bottom: 80px;
}


#services h4{
	color: #FFF;
	text-transform: uppercase;
	font-family: "Open Sans";
	margin-bottom: 30px;
}

#services .each-service:before {
content: "";
border-top: 141.5px solid transparent;
border-bottom: 141.5px solid transparent;
border-left: 20px solid #4B4B4B;
position: absolute; left: 0; top: 0;
height: 100%;
}
#services .each-service{
background-color: #FFF;
border-radius: 2px;
color: #4A4A4A;
padding-top: 15px;
padding-left: 40px;
font-family: 'Open Sans', sans-serif;
padding-bottom: 15px;
position:relative;
display: block;
float: left;
margin-right: 20px;
}
#services .each-service:after {
content: "";
border-top: 141.5px solid transparent;
border-bottom: 141.5px solid transparent;
border-left: 20px solid #FFF;
position: absolute; right: -20px; top: 0;
height: 100%;
}
.box{
color: #B5B5B5;
position:absolute;
width:35px;
height:35px;
}
.top{top:0}
.left{left:0;}
small{
color: #868686;
display: table;
font-size: 1.7em;
margin: 0 auto;
}
#services .each-service:hover{

}
.each-service h3{
	font-size: 22px;
text-align: center;
margin-top: 0;
margin-bottom: 20px;
}
.each-service i{
color: #B62E20;
font-size: 50px;
display: table;
margin: 0 auto;
}

.map-desc p{
	font-size:1.2em;
	margin-top: 20px;
}

#map-wrap{
	/*background-image: url(img/contemp.png);*/
	padding-top: 80px;
	padding-bottom: 80px;
}

#map-wrap img{
	width: 100%;
}


footer{
background-color: #2D2D2D;
color: #F3F3F3;
height: auto;
padding:50px 0 50px 0;
}
footer img{
width: 200px;
}
footer h4{
text-transform: uppercase;
margin-bottom: 25px;
}
footer i{
font-size: 18px;
}
footer p{
display: inline-block;
margin-left: 8px;
margin-bottom: 0;
}
footer #address{
font-style: italic;
font-size: 12px;
}
footer .location{
margin-right: 0px;
}
@media screen and (min-width: 768px){
.carousel-caption{
top: 30%;
bottom: 30%;
}
}
@media (min-width: 768px){
.navbar-nav{
margin: 0 auto;
display: table;
table-layout: fixed;
float:none;
}
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media screen and (min-width:0) and (max-width:768px){
	.row-eq-height {
display: inline-block;
}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}