.logo img{
	width: 200px;
	height: auto;
	margin-top: -15px;
}

.navbar{
	background-color: #FFF;
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a{
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #B62E20;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

/*Make the dropdown appear on hover*/
.dropdown:hover .dropdown-menu{
	display: block;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFF;
	color: #B62E20;
}

.navbar, .navbar .container,.navbar-header, .navbar-brand, nav .navbar-nav{
	min-height: 52px;

}

nav .navbar-nav, .navbar-header{
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .navbar-default .navbar-nav > li > a{
 	color: #474747;
 }

 .dropdown-menu > li > a{
 	padding: 15px 20px;
 }

 .dropdown-menu ul li a{
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

 .carousel-control.right, .carousel-control.left{
 	background-image:none;
 }

 .carousel-caption a{
 	border: solid 1px #FFF;
 	color: #FFF;
 	display: inline-table;
 	text-decoration: none;
 	padding: 20px;
 	margin-top: 20px;
 	text-shadow:none;
 }

 .carousel-caption a:hover{
 	background-color: #FFF;
 	color: #B62E20;
 }

 .message{
	width: 100%;
	height: 500px;
	background-repeat:no-repeat;
	background-image: url(img/s4copy2.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.intro{
	padding-top: 100px;
	text-align: center;
}

.intro h1{
	color: #FFF;
	font-family: 'Hind', sans-serif;
}

.intro a{
	background-color: transparent;
	color: #FFF;
	font-size: 1.1em;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	border:solid 1px #FFF;
	margin-top: 80px;
	text-decoration: none;
}

.intro a:hover{
	background-color: #FFF;
	color: #b62e20;
}


footer{
	background-color: #2D2D2D;
	height: 200px;
	padding:50px 0 50px 0;
}

footer img{
	width: 200px;

}

footer p{
	color: #F3F3F3;
}

@media screen and (min-width: 768px){
	.carousel-caption{
		top: 30%;
    }
}

 @media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (min-width:0) and (max-width:768px){
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 



 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 



 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 



 }